html, body {
    height: 100%;
    padding: 0; margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
#dragPanelContainer{
    display: table-cell;
    width: 70%;
    height: 100%;
  }
#optionPanel{
    width: 30%; 
    height: 100%; 
    display: table-cell;
    background-color: #F5F6F8;
}
#dragPanel{
  border: gray; 
  border-style: dotted; 
  margin:3%;
  height: 90%;
  background-repeat: no-repeat;
  background-size:contain;
}

#dragText{
  position: relative;
  top: 47%;
  left: 30%;
  right: 30%;
  font-size: 18pt;
}

#dragPanel:hover{
  background-color: #F1F1F1;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}
#uploadImageBtn{
 margin-left: 3%
}
#options{
  margin-left: 3%;
}
.optionLabel{
  width: 60%;

}
.valueInput{
  width: 30%;
  margin-left: 0%;
  background-color: transparent;
  border: 0px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 97%; /* Full-width */
  height: 2vh; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 2vh; /* Set a specific slider handle width */
  height: 2vh; /* Slider handle height */
  background: #2196F3; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #2196F3; /* Green background */
  cursor: pointer; /* Cursor on hover */
}